# External API Configuration
REACT_APP_EXTERNAL_API_URL=https://jsonplaceholder.typicode.com/posts/1
REACT_APP_EXTERNAL_API_KEY=

# Internal API Gateway Configuration
REACT_APP_INTERNAL_API_URL=http://localhost:4566/default/lambda
REACT_APP_INTERNAL_API_KEY=your-api-key-here

# Environment (development/production)
REACT_APP_ENV=development
